body {
    margin: 0 auto;
    font: 100% Georgia, "Times New Roman", Times, serif;
}

.title
{
color:red;
font-size:30px;
}


.header01
{
color:blue;
font-size:30px;
}

.description
{
color:DarkGray;
font-size:50px;
border-style:none none none solid;
border-color: black;
margin-left:10px;
padding-left:20px;
}

.div_width
{
width:300px;
background-color:lightgreen;
}

.image
{
height:500px;
position: right;
}

.button{
height:200px;

}