body {
    margin: 0 auto;
    font: 100% Georgia, "Times New Roman", Times, serif;
}

.title
{
color:red;
font-size:30px;
}


.header01
{
color:blue;
font-size:30px;
}

.description
{
color:DarkGray;
font-size:50px;
border-style:none none none solid;
border-color: black;
margin-left:10px;
padding-left:20px;
}

.div_width
{
width:400px;
background-color:lightgreen;
}

.image
{
width:300px;
position: right;
}

.chart
{
	width:600px;
	height:600px;
}

.circle
{
	stroke:green;
	fill:transparent;
	stroke:green;
	stroke-width:5px;
}

.rectangle
{
	width:300px;
	height:30px;
	stroke:black; 
	stroke-width:5;

}

.paperbag
{	
	width:200px;
	height:200px;
	stroke:brown; 
	stroke-width:5;
	fill:transparent;

}

.eye
{
	fill:black;
}

.muzzle
{
	width:40px;
	height:80px;
	stroke-width:5;
	fill:transparent;
	stroke:black;
	rx:20px;
	ry:20px; 
}

.nose
{
	fill:blue;

}

.mouth
{
	fill:none;
	stroke:orange;
	stroke-width:5;
}